body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee;
}

header {
    background-image: url(https://www.crockpot-romania.ro/assets/files/thumb/900x450x2/recipe/fdb_1641459619_dsc-0062.jpg);
/* nu am pus no repeat, ca arata mai bine asa */
    color: #fff;
    text-align: center;
    padding: 25px;
    font-size: 15px;
}

h1 {
    margin-left: 10px;
    font-size: 30px;
}

h2 {
    background-color: olive;
    color: #000;
    font-size: 25px;
}

nav {
    background-color: #f30c0c;
    text-align: center;
}

.clasa_div {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
}

footer {
    background-color: #232323;
    color: #fff;
    text-align: center;
    padding: 10px
}


nav a {
    color: #fff;
    text-decoration: none;
    margin: 15px;
}

.subliniat {
    background-color: yellow;
    color: #000;
    font-weight: bold;
}

.lamisto {
    background-color: darkorange;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

.despre {
    background-color: green;
    color: #ffffff;
    font-size: 14px;
}

.bye {
    background-color: rgb(226, 187, 139);
    color: #000000;
    font-weight: bold;
}


img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}